<table>
  <thead>
    <tr>
<% for attribute in attributes -%>
      <th><%= attribute.column.human_name %></th>
<% end -%>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%%= yield %>
  </tbody>
</table>
